@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

:root{
    --main_font : 'Barlow Condensed', sans-serif;
    --main_color : #575757;
    --second_color : rgb(255, 255, 255);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main_font);
}

#avatar{
    margin: 0 auto;
}

hgroup{
    text-align: center;
    font-family: var(--main_font);
}

.wrapper{
    max-width: 90%;
    display: flex;
    flex-flow: column nowrap;
    margin: 2em auto;
    
    align-items: space-around;
    
}

.wrapper > h1{
    text-align: center;
    font-family: var(--main_font);
}

.wrapper > nav{
    align-self: center;
    display: flex;
    padding: 1em;
    
    font-size: 1.2em;
    font-family: var(--main_font);
}

.wrapper > nav > a{
    text-decoration: none;
    text-align: center;
    color : var(--main_color);
    margin: 0 .3em;
}

.wrapper > nav > a:hover{
    border-bottom: .1em solid var(--main_color);
}



main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex:3;
    
}

main > section{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

main > section > article{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}




.partida > *{
    flex:1 1 300px;
    
   
}


.juego{
    display: flex;
    flex: 1 1 300px;
    justify-content: center;
    width: 100%;
    
}

.monedas{
    align-items: center;
    padding:1em 0;
}

.monedas > p{
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    margin: 1em 0;
}

.monedas img{
    max-width: 70px;
    border-radius: 50%;
}

.moneda:hover{
    cursor: pointer;
    transform: scale(.95);
}

.tipo-moneda{
    max-width: 100px;
    cursor: pointer;

}

.tipo-moneda:hover{
    transform: scale(1.1);
}

.tipo-moneda:active, .seleccionada, .cara_seleccionada{
    transform: scale(1);
    border-radius: 50%;
    outline: 2px solid var(--main_color);
    padding: .3em;
    
}

.jugador{
    width: 100%;
    background-color: var(--main_color);
    display: flex;
    flex: 1 1 300px;
    color: var(--second_color);
    font-size: 1.2em;
    flex-flow: row wrap;
    justify-content: center;
    align-self: space-around;
    padding: .5em;
}

.jugador img{
    max-width: 100px;
}

.jugador i{
    font-size: 3em;
    color: var(--second_color);
}

.jugador figure{
    margin: 1em 0;
    width: 100%;
    text-align: center;
}

#animacion{
    max-width: 100px;
    margin: 1em;
}

.resultado{
    width: 100%;
    margin: .5em 0;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    
}

.resultado p{
    margin: 1em 0;
}

.puntuacion{
    background-color: var(--main_color);
    color: var(--second_color);
    margin: 0 1em;
    padding: 1em;
    flex: 1 1 300px;
    text-align: center;
}

.botones{
    display: flex;
    margin: .5em auto;
    justify-content: center;
    flex-flow: row wrap;
    flex: 1 1 100%;
}

#jugar, #reiniciar{
    flex: 1 1 ;

    margin: 0 .5em;
    padding: .5em 1em;

   
}